<a href="https://colab.research.google.com/github/Prakriti77/Pyspark/blob/main/Explode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 38 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 71.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=c78b9b7017adea8d988d47c1032a109ae8425d1617e3d972a4cddd44c069de3e
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
#explode() func

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
from pyspark.sql.functions import *

In [ ]:
spark=SparkSession.builder.appName("sparkdf").getOrCreate()

In [ ]:
data = [('Jaya', '20', ['SQL','Data Science']),
        ('Milan', '21', ['ML','AI']),
        ('Rohit', '19', ['Programming', 'DSA']),
        ('Maria', '20', ['DBMS', 'Networking']),
        ('Jay', '22', ['Data Analytics','ML'])]

In [ ]:
columns = ['Name', 'Age', 'Courses_enrolled']

In [ ]:
df = spark.createDataFrame(data, columns)

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Courses_enrolled: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [ ]:
df.show()

+-----+---+--------------------+
| Name|Age|    Courses_enrolled|
+-----+---+--------------------+
| Jaya| 20| [SQL, Data Science]|
|Milan| 21|            [ML, AI]|
|Rohit| 19|  [Programming, DSA]|
|Maria| 20|  [DBMS, Networking]|
|  Jay| 22|[Data Analytics, ML]|
+-----+---+--------------------+

In [ ]:
df2 = df.select(df.Name,explode(df.Courses_enrolled))

In [ ]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- col: string (nullable = true)

In [ ]:
df2.show()

+-----+--------------+
| Name|           col|
+-----+--------------+
| Jaya|           SQL|
| Jaya|  Data Science|
|Milan|            ML|
|Milan|            AI|
|Rohit|   Programming|
|Rohit|           DSA|
|Maria|          DBMS|
|Maria|    Networking|
|  Jay|Data Analytics|
|  Jay|            ML|
+-----+--------------+

In [ ]:
#creating a dataframe that contains some null arrays

In [ ]:
data = [('Jaya', '20', ['SQL', 'Data Science']),
        ('Milan', '21', ['ML', 'AI']),
        ('Rohit', '19', None),
        ('Maria', '20', ['DBMS', 'Networking']),
        ('Jay', '22', None)]

In [ ]:
columns = ['Name', 'Age', 'Courses_enrolled']

In [ ]:
df = spark.createDataFrame(data, columns)

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Courses_enrolled: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [ ]:
df.show()

+-----+---+-------------------+
| Name|Age|   Courses_enrolled|
+-----+---+-------------------+
| Jaya| 20|[SQL, Data Science]|
|Milan| 21|           [ML, AI]|
|Rohit| 19|               null|
|Maria| 20| [DBMS, Networking]|
|  Jay| 22|               null|
+-----+---+-------------------+

In [ ]:
#explode_outer()

In [ ]:
df4 = df.select(df.Name, explode_outer(df.Courses_enrolled))

In [ ]:
df4.printSchema()

root
 |-- Name: string (nullable = true)
 |-- col: string (nullable = true)

In [ ]:
df4.show()

+-----+------------+
| Name|         col|
+-----+------------+
| Jaya|         SQL|
| Jaya|Data Science|
|Milan|          ML|
|Milan|          AI|
|Rohit|        null|
|Maria|        DBMS|
|Maria|  Networking|
|  Jay|        null|
+-----+------------+

In [ ]:
#posexplode()

In [ ]:
df2 = df.select(df.Name, posexplode(df.Courses_enrolled))

In [ ]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- pos: integer (nullable = false)
 |-- col: string (nullable = true)

In [ ]:
df2.show()

+-----+---+------------+
| Name|pos|         col|
+-----+---+------------+
| Jaya|  0|         SQL|
| Jaya|  1|Data Science|
|Milan|  0|          ML|
|Milan|  1|          AI|
|Maria|  0|        DBMS|
|Maria|  1|  Networking|
+-----+---+------------+

In [ ]:
#posexplode_outer()

In [ ]:
df2 = df.select(df.Name, posexplode_outer(df.Courses_enrolled))

In [ ]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- pos: integer (nullable = true)
 |-- col: string (nullable = true)

In [ ]:
df2.show()

+-----+----+------------+
| Name| pos|         col|
+-----+----+------------+
| Jaya|   0|         SQL|
| Jaya|   1|Data Science|
|Milan|   0|          ML|
|Milan|   1|          AI|
|Rohit|null|        null|
|Maria|   0|        DBMS|
|Maria|   1|  Networking|
|  Jay|null|        null|
+-----+----+------------+