<a href="https://colab.research.google.com/github/Prakriti77/as/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 66.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=9da8282477f7aba0c958bc1857f47db7b82b88a5cfe0528c9251893ef48d7464
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("how to read csv file").getOrCreate()

In [ ]:
df = spark. read. csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df.show()

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000|603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000|261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000|138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000|170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000|659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000|331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000| 50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000|107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000|595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000|199.000000|     6.585100|     300000.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("how to read excel file").getOrCreate()

In [ ]:
df = spark. read. csv('/content/file_example_XLS_10.xls')

In [ ]:
df.show()

+--------------------+
|                 _c0|
+--------------------+
|��ࡱ�           ...|
|            ��������|
|   ����   ������...|
|�\a       �  �...|
| � \b  MM/DD/YY� ...|
|  \b\f  \b  \b� ...|
|  First Name\t  L...|
|       United States|
|  15/10/2017  Ma...|
|       Great Britain|
|  16/08/2016  Ph...|
|  21/05/2015\b  K...|
| ! �  \f   c\b ...|
|         \t\b   �|
|�\a       \f  d...|
| } \f    �\v   ...|
|     %      \b...|
|     %      \b...|
|                � |
|                � |
+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("how to read excel file").getOrCreate()

In [ ]:
df = spark. read. csv('/content/userdata1.parquet')

In [ ]:
df.show()

+--------------------+
|                 _c0|
+--------------------+
|PAR1ȺȺL�...|
|7  N%  ��W�\f ...|
|  N%  .[�?7  N%...|
|  N%  �J�F  N%...|
|  N%  @ |�  N%...|
|�7  N%  �z�F  N...|
|�5H  N%  ��\v.?...|
|  N%  xZ�\a  N...|
|&  N%  �I��  N...|
|  N%  �G�l;  N%...|
|���@  N%  r�l$0 ...|
|  N%  �?��  N%...|
|}N  N%  ��Y  N...|
|�LE  N%  Rږ�  ...|
|  N%  n�u1  N...|
|             N%  �G|
|  N%  �j�r!  N%...|
|H  N%  �>i�  N...|
|Jsl  N%  �i�9 ...|
|  N%  ���4  N%...|
+--------------------+
only showing top 20 rows

In [1]:
"Groupby"

'Groupby'

In [ ]:
Spark

NameError: ignored